.myAccount-container {
  margin: 0 auto;
  padding: 0 16px;
  width: 1170px;
}

section#myAccount {
  padding: 50px 0 0 0;
}

section#myAccount .ant-tabs-nav-wrap {
  width: 100%;
}

section#myAccount .courses .ant-dropdown {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

section#myAccount .courses .antline {
  position: relative;
}

section#myAccount .courses .antline::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 3px;
  background-color: rgba(25, 52, 94, 1);
}

section#myAccount .courses .line {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 3px;
  margin: 30px 0;
}

section#myAccount .line::before {
  content: "";
  position: absolute;
  display: block;
  width: 1200px;
  height: 1px;
  background-color: #dcdcdc;
  bottom: 1px;
  left: 65px;
}

section#myAccount .line::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgba(25, 52, 94, 1) !important;
}

/* Card Courses */

section#myAccount .courses .ant-card {
  border-radius: 0;
  border: 1px solid rgba(192, 192, 192, 0.5);
}

section#myAccount .courses .ant-card img {
  border-radius: 0;
}

section#myAccount .courses .ant-card .ant-card-body {
  padding: 20px 20px 10px;
}

section#myAccount .courses .ant-card .title-card {
  font-size: 15px;
  color: #333333 !important;
  font-weight: 500;
  margin-bottom: 20px;
}

section#myAccount .courses .ant-progress {
  margin-bottom: 20px;
}

section#myAccount .courses .ant-progress-inner,
.ant-progress-bg {
  border-radius: 0;
}

section#myAccount .courses .ant-btn {
  border: 0;
  border-radius: 0;
  background-color: rgba(25, 52, 94, 1);
  color: #fff;
}

section#myAccount .courses .ant-card-meta-description {
  text-align: center;
}

/* Tabs One */
section#myAccount .tabs-one {
  padding: 64px 0;
}

section#myAccount .ant-tabs {
  width: 100%;
}

section#myAccount .ant-tabs-nav-list {
  padding: 4px;
  background-color: rgba(25, 52, 94, 1) !important;
  width: 100%;
  height: 68px;
  justify-content: space-between;
  text-align: center;
}

section#myAccount .ant-tabs-tab {
  margin: 0 !important;
  color: #fff !important;
  justify-content: center;
  flex-grow: 1;
}

section#myAccount .ant-tabs-tab-active {
  background-color: #fff !important;
  color: #000 !important;
}

section#myAccount #tabs-one-panel-notifications .ant-tabs-nav-list {
  background-color: transparent !important;
  color: #000 !important;
  width: max-content;
}

section#myAccount #tabs-one-panel-notifications .ant-tabs-tab-btn {
  width: 100%;
}
