@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500;700&family=Montserrat:wght@200;300&family=Mulish&family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&family=Quicksand:wght@500;700&display=swap");

.classcontainer {
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
}
.parentContainer {
  margin-left: 50px;
  margin-right: 150px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  /* background-color: cyan; */
  max-width: max-content;
  height: max-content;
}
.container1 {
  padding-left: 90px;
  width: 90%;
  height: max-content;
  /* border: 2px solid black; */
}
.container2 {
  flex-direction: column;
  width: 25%;
  height: 400px;
  /* border: 2px solid red; */
}



/* css preview */

.h1 {
  font-family: "Catamaran";
  font-size: 52px;
  line-height: 53px;
  font-weight: bold;
  margin: 1.5em 0;
  color: #19345f;
  flex-wrap: wrap;
}
/* .image {
  float: left;
  width: 10%;
  width: 70;
  height: 70;
  margin: 50;
  float: "left";
  margin-right: 1000;
} */

.subContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pTeacher {
  font-family: "Montserrat";
  font-size: 13px;
}

.textTeacher {
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat";
}
.img-logo-teacher {
  width: 40px;
  padding-right: 10px;
}

.img-logo-category {
  width: 20px;
  margin-left: 80px;
}

.pCategory {
  font-family: "Montserrat";
  font-size: 13px;
  padding-left: 20px;
}

.textCategory {
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat";
}

/* .threeRow {
  display: flex;
  margin-right: 30px;
  flex-direction: row;
  /* justify-content: center; */
/* align-items: stretch; */

/* } */
.box {
  float: left;
  width: 33%;
  padding: 20px;
  border: none;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* .col {
  background-color: #f0f4fa;
  text-align: center;
  width: 318px;
  height: 71px;
  padding-top: 25px;
  margin-bottom: 90px;
} */

/* .col .colLink {
  text-decoration: none;
  color: #000000;
}

.col > .colLink:hover {
  color: #868282;
} */

.gambarImg {
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-right: 100px;
  box-shadow: 1px 2px 8px 2px #333;
}

/* .gambarImg > img {
  margin-bottom: 10px;
  margin-right: 130px;
} */

/* .bn3637 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
} */

/* .bn36 {
  border-color: #fff;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
} */

.wishlist {
  margin-top: 100px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  align-items: center;
}

.heartSvg {
  width: 20px;
}

.boxPrice {
  height: 170px;
  width: 250px;
  margin-top: 20px;
  margin-left: 45px;
  border-radius: 13px;
  background-color: #f47522;
  display: flex;
  flex-direction: column;
}

.boxPrice > h1 {
  margin-top: 10px;
  padding-left: 10px;
}

.price {
  padding-top: 15px;
  justify-content: flex-end;
}

.price > .normalPrice {
  font-family: "Montserrat";
  font-size: 15px;
  padding-top: 50px;
  text-decoration: line-through;
  padding-left: 147px;
  color: white;
}

.price > .discPrice {
  font-size: 20px;
  color: white;

  padding-left: 140px;
}

/* .containerLB {
  color: #19345f;
}

.containerLB p {
  font-family: "Mulish";
} */

.twoCol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 30px;
}

.twoCol > p {
  font-size: 16px;
}

.twoCol > p > span > img {
  width: 20px;
}

.twoCol > p > span > .svgUsers {
  margin-left: 26px;
}

.twoCol > p > span > .lectures {
  margin-left: 110px;
}

.twoCol > .garis {
  width: 255px;
  height: 1.5px;
  border: 2px solid rgb(66, 66, 66);
  margin-top: 15px;
  margin-bottom: 15px;
}

.featureContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  margin-left: 80px;
}
.iconFeature {
  display: flex;
  flex-direction: row;
}
.featureContainer > .iconFeature > img {
  width: 30px;
}

.featureContainer > .iconFeature > span {
  font-size: 16px;
  margin-left: 14px;
}
.latar{
  font-family: "catamaran";
  font-weight: bold;
  font-size: 29px;
  color: #19345f;
  margin-bottom: 10px;
}
.materiPapar {
  font-family: "Catamaran";
  font-weight: "bold";
  font-size: 29px;
  color: #19345f;
  margin-bottom: 10px;
}

.ul li {
  font-size: 16px;
  color: #19345f;
  font-family: "Mulish";
  list-style-type: disc;
  margin-left: 23px;
  list-style-type: disc;
  margin-left: 20px;
}

.fasilitasPapar {
  width: 600px;
  height: 70px;
  background-color: #d9edf7;
  margin-bottom: 12px;
  margin-top: 15px;
  font-size: 19px;
  color: #31708f;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}
