.benefit_section {
  padding: 0 12px;
}

.benefit_section_title {
  padding-top: 70px;
  font-size: 32px !important;
  font-weight: 700 !important;
  padding-bottom: 30px !important;
  color: #19345f !important;
}

.custom__card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) !important;
  padding: 40px 20px;
  border-radius: 30px;
  text-align: center;
  height: 100%;
}

.custom__card .title {
  margin-top: 20px;
  margin-bottom: 18px !important;
  font-size: 21px;
  color: #19345f;
}

.custom__card .desc {
  margin-bottom: 0;
  font-size: 16px;
  color: #273044;
  text-align: left;
}

.ant-badge.ant-badge-status .ant-badge-status-dot {
  width: 20px;
  height: 20px;
}

@media (min-width: 992px) {
  .benefit_section {
    padding: 0;
  }
}
