/* body{
 background-color: aquamarine;   
} */
/* .record{
    font-size: 30px;
} */
/* .pbaru{
    font-size: 18px;
    line-height: 100px;
} */
.container {
    margin: 0 auto;
    max-width: 1200px;
  }
/* title{
    color: aqua;
} */
.btn-primary {
    background-color: rgb(28, 28, 92);
    color: white;
    font-size: 13px;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    width: 11%;
    height: 60px;
    display: block;
    margin: 0 auto;
  }