.item-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 16px 0px;
  box-sizing: border-box;
  margin: auto;
}
.item-container .item {
  padding: 20px;
  margin: 10px;
  border-radius: 1em;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.item-icon {
  margin-top: 6px;
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.item-container .item:hover {
  background-color: #f0f4fa;
}
.item-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.item-title {
  font-size: 1.2em;
  font-family: sans-serif;
  color: #19345f;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}
.item-description {
  font-size: 0.9em;
  font-family: sans-serif;
  color: #273044;
  font-style: italic;
}
