@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Open+Sans&family=Roboto&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0 !important;
}

li {
  margin-bottom: 0;
}

.font_roboto {
  font-family: "Roboto", sans-serif;
}

.font_mulish {
  font-family: "Mulish", sans-serif;
}

.font_opensans {
  font-family: "Open Sans", sans-serif;
}

.text_center {
  text-align: center;
}

.text_white {
  color: #ffffff;
}
