.orange_button {
  background-color: #f37524;
  padding: 12px 14px;
  border-radius: 3px;
  width: 123px;
}

.orange_button a {
  text-decoration: none;
}

.black_button_pad {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.black_button {
  background-color: #19345f;
  padding: 12px 14px;
  border-radius: 3px;
  width: 123px;
  text-align: center;
}

.black_button a {
  text-decoration: none;
}

.contact_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.contact_card {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 20px;
}

.contact_card:hover {
  background-color: #f0f4fa;
  border-radius: 20px;
}

.contact_card_text {
  margin-left: 18px;
}

@media screen and (max-width: 768px) {
  .contact_section {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
}
